@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,900;1,100;1,500;1,700;1,900&display=swap');

.all-pages-home-container{
background-color: black;

width:100%;
/* min-height:100vh; */
/* min-height: 100vh; */
/* will change this later */
background-image: linear-gradient(to bottom, rgba(1, 3, 13, 0.52), rgba(0, 0, 0, 0.73)) ,url("https://cutewallpaper.org/21/mac-black-wallpaper/Black-Wallpapers-and-Pictures-Graphics-download-for-free.jpg");
background-size: cover;
}

.introduction-title{
width: 50%;
height:100%;
display: flex;
flex-direction: column;


}
.my-name{
      color:white;
      margin-top: 6%;
      margin-left: 20%;;
      font-size: 8rem;
      text-transform: uppercase;
       font-family: 'Raleway', sans-serif;
     /* font-weight: 100; */
     color:aquamarine;
     letter-spacing: 15px;
}
.my-name span{
      font-size: 3rem;
      
      margin-left: -2.5rem;
      color:white;

}
.i-am-ab{
      color:white;
      text-align: center;
      text-transform: uppercase;
      margin-top: -12.5rem;
      margin-bottom: 8rem;
      /* margin-left: -24px; */
      letter-spacing: 2px;
}


.my-job{
color:white;
margin-left: 20%;;
text-transform: uppercase;
margin-top:-2rem;
}
.developer{
      color:yellow;
}
.my-pic{
      width:330px;
      height: 430px;
      box-shadow: inset 20px 20px 20px 20px rgba(244, 41, 41, 0.05),25px 35px 20px rgba(249, 128, 128, 0.05),
      25px 30px 30px rgba(252, 150, 150, 0.05),
      inset -20px -20px 25px rgba(165, 247, 140, 0.9);
      transition: 0.5s;
      display: flex;
      align-items: center;
      border-radius: 67% 33% 35% 65% / 36% 19% 81% 64% ;
      background-color: orange;
      flex-wrap: wrap;
       animation: float 3s ease-in-out infinite;

}
.contact-me-home-btn{
      width: 70px;
      height: 70px;
      padding: 5px;
      border-radius:100% 0% 35% 65% / 36% 55% 45% 64%  ;
      background-color: orange;
      margin-left: -2rem;
      transition: 0.5s;
      box-shadow: inset 20px 20px 20px 20px rgba(244, 41, 41, 0.05),25px 35px 20px rgba(249, 128, 128, 0.05),
      25px 30px 30px rgba(252, 150, 150, 0.05),
      inset -20px -20px 25px rgba(42, 237, 255, 0.9);
      border:none;
       font-family: 'Raleway', sans-serif;
font-weight: 600;
}
.contact-me-home-btn:hover{
      border-radius: 14% 86% 35% 65% / 59% 74% 26% 41% ;
      
}
@keyframes float {
      0% {
            transform: translateY(0);
            border-radius: 14% 86% 35% 65% / 59% 74% 26% 41% ;
      }
      50% {
            transform: translateY(-10px);
            border-radius:100% 0% 35% 65% / 36% 55% 45% 64%  ;
      }
      100% {
        border-radius: 14% 86% 35% 65% / 59% 74% 26% 41% ;
    transform: translateY(0);
  }
}

.contact-me-div-btn{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}
.my-pic:hover{
      border-radius: 50%;;
}
.hero-my-pic{
      width:650px;
      height: 400px;
      object-fit: cover;
      margin-left: -13rem;
      /* margin-top: -10.6rem; */
      

}

.main-home-page-container{
      display: flex;
      align-items: center;
      /* flex-direction: row-reverse; */
      margin-top: 3rem;
      /* background-color: red; */
     margin-bottom: 12rem;
     gap:6rem
}
.full-name{
 /* position: relative; */
/* top:100px; */
 color:white;
 font-size:1rem;
 /* font-family: 'DynaPuff', cursive; */
 
   font-family: 'Raleway', sans-serif;
     font-weight: 700;
     margin-left: 8rem;
     margin-top: -7rem;
}
.last-name{
/* position: relative; */
/* top:100px; */
margin-top: -1rem;
 color:white;
 font-size:2rem;
 font-weight: 100;
}
.part-last-name{
      color:yellowgreen;
 font-family: 'DynaPuff', cursive;
}
.circle-orange{
      width:30px;
      height: 1px;
      background-color: orange;;
      position: relative;
      /* left:-100px; */
      border-radius: 50%;
      
      /* margin-top: -2rem; */
      margin-top: -2rem;
      margin-left: 0.4rem;

}

/* ============= end of home landing page */
/* home about section ======= */
.mini-about-section{
width: 100%;
color:white;
}
.about-me-pic-container{
      display: flex;
      align-items: center;
}
.contact-me-circle{
      margin: 0 10px;
      width:100px;
      height:100px;
      padding: 5px;
      border-radius:100% 0% 35% 65% / 36% 55% 45% 64%  ;
      background-color: orange;
      /* margin-left: -2rem; */
      transition: 0.5s;
      box-shadow: inset 20px 20px 20px 20px rgba(244, 41, 41, 0.05),25px 35px 20px rgba(249, 128, 128, 0.05),
      25px 30px 30px rgba(252, 150, 150, 0.05),
      inset -20px -20px 25px rgba(42, 237, 255, 0.9);
      display: flex;
      align-items: center;
      justify-content: center;
      color:black;
      font-family: 'Raleway', sans-serif;
font-weight: 700;
}
.contact-me-circle:hover{
       border-radius: 14% 86% 35% 65% / 59% 74% 26% 41% ;
}
.me-pic-about{
      width: 300px;
      height: 300px;
      object-fit: cover;
      margin: 0 2rem;
}
.marble-pic{
      width: 50%;
      height: 30px;
      border-radius: 20px;
      object-fit: cover;
      margin: 0 0 2rem 0;
}
.my-about-para{
      max-width: 600px;
}

.projects-container{
display: flex;
gap : 1rem;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 10px;
}
.individual-project img {
      width: 400px;
      height: 400px;
      object-fit: cover;
      margin: 10px 20px;
}
.latest-projects{
      color: white;
      text-align: center;
      text-transform: uppercase;
}
.filter-div{
      color:white;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap:9rem;
}
.filter-div *{
      text-transform: uppercase;
      border: 1px solid orange;
      padding: 10px;
      border-radius: 20px;
}
.filter-div :first-child{
background-color: orange;
}
.contact-us-page-container{
      width: 100%;
      /* height: 400px; */
      display: flex;
      color:white;
      align-items: center;
      gap:6rem;
}
.my-logo-with-pic-contact-container{
      background-image: url("https://wallpaper.dog/large/10933513.jpg");
      background-size: cover;
      /* height: 300px; */

}
.logo-contact-page{
      background-color: orange;;
      width: 10px;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
}
.contact-me-paragraph{
 max-width: 400px;
font-family: 'Raleway', sans-serif;
font-size: 0.8rem;
margin-top: 8rem;

}
.get-in-touch{
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
}
.interested-para{
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
text-transform: uppercase;
} .all-input-contact-container{
      flex: 1;
}
.form-control{
width: 90%;
padding: 10px;

}
.contact-name-user{
      width: 100%;
      /* border: 1px solid orange; */
      margin: 1rem 0 ;
      display: flex;
      align-items: center;
      gap: 1rem
}
.contact-name-user input {
      width: 50%;
      background-color: transparent;
      border: 1px solid white;
      padding: 15px;


}
.email-container{
      width: 95.5%;
      
}
.email-container input{
      width: 100%;
      padding: 15px;
      background-color: transparent;
      border: 1px solid white;
      
}

.phone-container{
      width: 95.5%;
      
}
.phone-container input{
      width: 100%;
      padding: 15px;
      background-color: transparent;
      border: 1px solid white;
      margin-top: 1rem ;
      
}
.text-area-container{
      width: 95.5%;
      
}
.text-area-container textarea{
      width: 100%;
      padding: 15px;
      background-color: transparent;
      border: 1px solid white;
      margin-top: 1rem ;
      
}
.send-contact-comments{
      width: 100%;
      padding: 10px;
      background-color: yellow;
      border: 1px solid yellow;
      margin-top: 1rem;
}
.my-about-name{
   text-transform: uppercase;
  white-space: nowrap; /* prevent line breaks */
  overflow: hidden;
   /* hide overflowing text */
  animation: typing 3s steps(90) forwards ;
  position: relative; 
  /* position cursor relative to text */
  display: inline-block; /* make cursor appear next to text */
}

.cursor {
  position: absolute;
  margin-top: 2rem;
  /* position cursor relative to text */
  /* top: 0; */
  /* right: -10px; */
  width: 1px;
  height: 25px;
  color:white;
  background-color: white;
  animation: cursor 4s infinite;
}
@keyframes typing {
  from {
    width: 0; /* start with zero width */
  }
  to {
    width: 24%; /* gradually increase width to 100% */
  }
}
@keyframes cursor {
  from, to {
    background-color: white;
  }
  10% {
    background-color: transparent;
  }
}