@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,900;1,100;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-main-section{
      width:100%;
      height: 100px;
      color:white;

}
.navigation-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    
      
}
.nav-pages-container{
      display: flex;
      align-items: center;
      gap:1rem;
      justify-content: space-between;
      margin: 1rem;
      transition: 0.5s ease;
      z-index: 3;
      
   

}


.nav-pages-container *{
color:white;
font-size: 1.1rem;
margin-right: 1rem;
font-family: 'Lobster', cursive;   

font-weight: 600;
cursor: pointer;
transition: all .5s ease-in;
border:transparent;
}

.nav-item {
      width:40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

}
.nav-item * {
      font-size: 1.6rem;
      margin:0 auto;
      border:2px solid rgb(59, 225, 170);
      border-radius: 67% 33% 35% 65% / 36% 19% 81% 64% ;
      padding: 3px;
      color:aqua;
}

.active-nav{
      transition: 0.5s;
      background-color: aqua;
      border-radius: 67% 33% 35% 65% / 36% 19% 81% 64% ;
}
.active-nav *{
      color:white;

}



.logo-name{
      color:orange;
      padding: 4px 20px;
      border-radius: 50px;
      /* border: 1.4px solid white; */
      font-family: 'DynaPuff', cursive;
      
}
.leaf-logo{
      width: 50px;
      height:50px;
      object-fit: cover;
      border-radius: 67% 33% 35% 65% / 36% 19% 81% 64% ;
background-color: aqua;      
}
.abel-logo-extend{
      display: none;
      color:aqua;
      margin-left: -1rem;
      font-family: 'Lobster', cursive;   
}
.close-open-bar{
      position: absolute;
      right: 50px;
      top: 22px;
      width: 20px;
      height: max-content;
      display: none;
      
}


/* media query */

@media screen and (max-width:600px){
      .navbar-main-section{
            z-index: 13;
            margin-bottom:  2rem;
            /* background: greenyellow; */
      }
      
      .close-open-bar{
            display:block;;
            z-index: 14;
      }
      
      .nav-pages-container-turn-off{
            
      
      transition: 0.5s ease;
/* height: 0; */
position: absolute;
left : 300px;
/* opacity: 0; */
transition: 0.5s ease;
z-index: 1;
display: none;


}
      .nav-pages-container{
            position: fixed;
            top : -48px;
            right: -20px;
            /* z-index: 1; */
            flex-direction: column;
            gap: 4rem;
            justify-content: flex-start;
            margin-top: 3rem;
            background-color: rgba(36, 103, 139, 0.2);;
            width: 150px;
            height: 100vh;
            backdrop-filter: blur(15px);
            


      }
      .navigation-container{
            align-items: flex-start;


      }
      .nav-item * {
            background-color: black;
      }
      .close-bar-nav{
      font-size: 3rem;
      /* background-color:white; */
      color: aqua;
      z-index: 13;
}
.open-bar-nav{
      font-size: 2rem;
      /* background-color:white; */
      color: aqua;
      z-index: 13;
}
}


@media screen and (max-width:400px){
      .leaf-logo{
            width: 40px;
            height: 40px;
      }
        .close-bar-nav{
            font-size: 2.3rem;
        }
        .open-bar-nav{
            font-size: 1.5rem;
        }
}