@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,900;1,100;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-main-section{
      width:100%;
      height: 100px;
      color:white;


}
.navigation-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      
}
.nav-pages-container{
      display: flex;
      align-items: center;
      gap:1rem;
      justify-content: space-between;
      margin: 1rem;
   

}
.circle-name{
      background-color: yellowgreen;;
      height:30px;
      width:30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;;
}
.circle-name p{
       transform: rotate(10deg); 

}
.nav-pages-container *{
color:white;
font-size: 1.1rem;
margin-right: 1rem;
font-family: 'Lobster', cursive;   

font-weight: 600;
cursor: pointer;
transition: all .5s ease-in;
border:transparent;
}


.active-nav{
      /* border: 1px solid orange; */
      background-color: aquamarine;
      margin-bottom: -2px;
      padding: 2px 20px;
      border-radius:20px;
      transition: 0.5s;
      box-shadow: inset 20px 20px 20px 20px rgba(79, 232, 65, 0.05),25px 35px 20px rgba(240, 51, 51, 0.05),
      25px 30px 30px rgba(6, 120, 186, 0.05),
      inset -20px -20px 25px rgba(3, 134, 170, 0.9);
      border:none;

}



.logo-name{
      color:orange;
      padding: 4px 20px;
      border-radius: 50px;
      /* border: 1.4px solid white; */
      font-family: 'DynaPuff', cursive;
      
}
.leaf-logo{
      width: 70px;
      height:70px;
      border-radius: 50%;
      object-fit: cover;
      
}
.abel-logo-extend{
      display: none;
      color:aqua;
      margin-left: -1rem;
      font-family: 'Lobster', cursive;   
}